<section class="feature-area">
    <div class="container-fluid">
        <div class="feature-inner row">
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-book"></i>
                    <div class="ml-20">
                        <h4>Current Trends</h4>
                        <p>Discover cutting-edge insights in Computer Science.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-cup"></i>
                    <div class="ml-20">
                        <h4>Top Courses</h4>
                        <p>Explore our top-rated Computer Science courses</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex border-right-0">
                    <i class="ti-desktop"></i>
                    <div class="ml-20">
                        <h4>Study Materials</h4>
                        <p>
                            Access in-depth Study materials for comprehensive learning
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>